---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob('./posts/yeahscience/*.md')
const headTitle = "Alog"
const pageTitle = "Alog";
---

<BaseLayout pageTitle={pageTitle} headTitle={headTitle}>
    <ul>
        {allPosts.map((post) => (
            <div class="post-preview">
                <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} image={post.frontmatter.image}/>
            </div>
        ))}
    </ul>
</BaseLayout>