---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob('./posts/projects/*.md')
const headTitle = "Projects"
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle} headTitle={headTitle}>
    <section>
        <h2>📖 in progress</h2>
        <ul>
            {allPosts
                .filter(post => post.frontmatter.status === 'in progress')
                .sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
                .map((post) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />
                ))}
        </ul>
    </section>

    <section>
        <h2>📕 (first phase) completed</h2>
        <ul>
            {allPosts
                .filter(post => post.frontmatter.status === '(first phase) completed')
                .sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
                .map((post) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />
                ))}
        </ul>
    </section>

    <section>
        <h2>🌟 ideas</h2>
        <ul>
            {allPosts
                .filter(post => post.frontmatter.status === 'idea')
                .sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
                .map((post) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />
                ))}
        </ul>
    </section>
</BaseLayout>